services:
  aplicacionjava:
    container_name: tomcat
    image: tomcat:9.0
    restart: always
    networks:
      - red_tomcat
    volumes:
      - ./sample.war:/usr/local/tomcat/webapps/sample.war:ro
  proxy:
    container_name: nginx
    image: nginx
    ports:
      - 80:80
    networks:
      - red_tomcat
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
networks:
  red_tomcat:
    external: true